
body
{
	background-color: white;
	color: black;
	font-size: 1em;
}

h1
{
	background-color: #eeeeee;
	text-align: right;
	padding-right: 15px;
}

h2
{
	background-color: #dddddd;
	padding-left: 30px;
}

h3
{
	background-color: #aaaaaa;
	padding-left: 60px;
}

p.doc
{
	margin-left: 40px;
	margin-top: 5px;
}

span.function
{
	font-family: sans;
}

span.klass
{
	font-family: sans;
}

span.method
{
	font-family: sans;
}

span.note
{
	font-size: smaller;
}
